extends ./layouts/base.jade

block title
  title 首页

block content
  p
    label page
    span #{page}
  p
    label pages
    span #{pages}
  ul
    each post in posts 
      li 
        a(href='#{post.link}') #{post.title}
        div
          !{post.summary}
  p
    if (page == 1)
      span
        a(href='/index.html') prev
    else
      if (page - 1 > 0)
        span
          a(href='/index/#{page - 1}.html') prev
    if (page + 1 < pages)
      span
        a(href='/index/#{page + 1}.html') next
