doctype html
html
  head
    block title
      title 小麦的二三事 
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/common/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/blog.css')
    block style
  body
    div.blog-masthead
      div.container
        nav.blog-nav
          - var activeHome = (active == 'home' ? 'active' : '')
          - var activePosts = (active == 'posts' ? 'active' : '')
          - var activeTags = (active == 'tags' ? 'active' : '')
          - var activeProjects = (active == 'projects' ? 'active' : '')
          - var activeAbout = (active == 'about' ? 'active' : '')
          a(class='blog-nav-item #{activeHome}', href='/') 主页
          a(class='blog-nav-item #{activePosts}', href='/posts') 文章 
          a(class='blog-nav-item #{activeTags}', href='/tags') 标签
          a(class='blog-nav-item #{activeProjects}', href='/projects') 项目
          a(class='blog-nav-item #{activeAbout}', href='/about') 关于
    div.container
      div.blog-header
        h1.blog-title 小麦的二三事
        p.lead.blog-description 他大舅他二舅，都是他舅
      div.col-sm-8.blog-main
        div.row
          block content
            h1 o(╯□╰)o没有内容
      div.col-sm-3.col-sm-offset-1.blog-sidebar
        div.sidebar-module
          h4 文章
          ol.list-unstyled
            each year in dateData.years
              each month in dateData.months[year]
                li: a(href='/posts/#{year}/#{month}') #{year}年#{month}月
        div.sidebar-module
          h4 标签
          ol.list-unstyled
            each tag in tagsData.tags
              li: a(href='/tags/#{tag}') #{tag + '(' + tagsData.tagsMap[tag].length + ')'}
    div.container
      block footer
    footer.blog-footer
      p Powerby MaiZhiying
