extends base.jade

block content
  ul
    each year in date.years
      li
        a(href='/posts/#{year}') #{year}年
        ul
          each month in date.months[year]
            li
              a(href='/posts/#{year}/#{month}') #{month}月
              ul
                each post in date.map[year][month]
                  li: a(href='#{post.link}') #{post.title}
