extends base.jade

block content
  ul
    each year in date.years
      li
        ul
          a(href='/posts/#{year}') #{year}年
          each month in date.months[year]
            li
              ul
                a(href='/posts/#{year}/#{month}') #{month}月
                each post in date.map[year][month]
                  li: a(href='#{post.link}') #{post.title}
