extends ./base.jade

block title
  title 小麦的二三事 

block content
  each post in posts
    div.blog-post
      h2.blog-post-title #{post.title}
      p.blog-post-meta 写于#{post.year}年#{post.month}月#{post.day}日 关于
        each tag, index in post.tags
          a(href='/tags/#{tag}') #{tag}
          if index < post.tags.length - 1
            | ,
      | !{post.summary}
      p: a(href='#{post.link}') 阅读全文 &gt;

block footer
  nav.pagination
    if (page == 1)
      li: a(href='/index.html', aria-label='Previous'): span(aria-hidden='true') &laquo;
    else
      if (page - 1 > 0)
        li: a(href='/index/#{page - 1}.html', aria-label='Previous'): span(aria-hidden='true') &laquo;
      else
        li.disabled: a(href='/index/#{page - 1}.html', aria-label='Previous'): span(aria-hidden='true') &laquo;
    - var n = 0
    while n < pages
      - var href = (n == 0) ? '/index.html' : '/index/' + n + '.html'
      - var active = (n == page) ? 'active' : ''
      li(class='#{active}'): a(href='#{href}') #{(n++) + 1}
    if (page + 1 < pages)
      li: a(href='/index/#{page + 1}.html', aria-label='Next'): span(aria-hidden='true') &raquo;
    else
      li.disabled :a(href='/index/#{page + 1}.html', aria-label='Next'): span(aria-hidden='true') &raquo;
